<nav class="navbar">
  <form class="form-inline">
    <button class="btn btn-outline-success" type="button"><%= link_to "Add a cocktail", new_cocktail_path%></button>
  </form>
</nav>

<div class="container m-4">
  <H1>List of cockails</H1>
<% pictures = [
  "",
  "",
  "",
]%>
<div class="row">
    <div class="">
      <% @cocktails.each do |cockail| %>
        <div class="col-md-4">
          <div class="card" style="width: 18rem;">
            <div 
            class="card-img-top",
            style="background-image: url('<%= pictures.sample %>');"  
              ></div>
              <div class="card-body">
                <h3 class="card-title"><%= link_to cockail.name, cockail%></h3>
                  <a href="#" class="card-link"><%= link_to 'More info',  cockail%></a>
                </div>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>

